@import "libs/xterm.css";
@import "libs/bootstrap.min.css";

#textArea {
    padding-top: 1%;
    display: none;
}

#textEditor {
    font-family: monospace;
    overflow-x: scroll;
    overflow-y: scroll;
    min-height: 250px;
    max-height: 400px;
    border: 5px solid black;
    border-radius: 2px;
    padding: 10px;
}

#batchEditor {
    padding-top: 1%;
    display: none;
}

.btn-secondary.focus, .btn-secondary:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.loader {
    border: 12px solid #333333;
    border-top: 12px solid #649acc;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite reverse;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

